# Python
__pycache__/
*.pyc
*.pyo
.env
.env.*
.venv/

# Django media/uploads
core/media/*
!core/media/.gitkeep
!core/media/audio/
core/media/audio/*
!core/media/audio/.gitkeep

# Frontend
front/node_modules/
front/.next/
front/dist/

# OS/IDE
.DS_Store
.idea/
.vscode/
